@import 'styles/variables.scss';

.feedback {
    border-radius: 0.75rem;
    margin-left: 2%;


    &_ok {
        border: 2px solid #49a83e;
        background-color: rgba(73, 168, 62, 0.175);
    }

    &_nok {
        border: 2px solid #a83e3e;
        background-color: rgba(168, 62, 62, 0.175);
    }
}