@import 'styles/variables.scss';

.navigation {
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    transition: .33s all ease-in-out;

    &__item {
        margin-right: 1.5rem;
        color: $secondary;
        font-weight: bold;

        &:nth-child(1) {
            margin-left: 0;
        }
    }

    &__logo {
        font-size: 1.25rem;
        font-weight: bold;
        letter-spacing: 0.15rem;
        color: $light;

        & > span {

        }
    }
}

.scrolled {
    background-color: $tertiary-dark;
    box-shadow: 0 0 0.1rem $primary;
}

@media (max-width: 33.75rem) { // 540px
    .navigation {
        padding-left: 0.65rem;
        padding-right: 0.65rem;
        background-color: $tertiary-dark;
        box-shadow: 0 0 0.1rem $primary;
    }
    
    .navigation__menu {
        display: none;

        &.active {
            display: flex;
        }
    }

    .navigation__burger {
        cursor: pointer;
        padding: 12px 0;
        
        span {
            position: relative;
            display: block;
            width: 26px;
            height: 3px;
            background: $secondary;
            transition: all .2s ease-in-out;
            border-radius: 2px;
            
            &:before, &:after {
                position: absolute;
                background: $secondary;
                content: '';
                width: 26px;
                height: 3px;
                transition: all .2s ease-in-out;
                border-radius: 2px;
            }
            
            &:before {
                top: -8px;
            }
            
            &:after {
                top: 8px;
            }
        }

          
        &.active {
            span {
                background: transparent;  
                
                &:before {
                transform: rotate(45deg) translate(5px, 6px);
                }
                
                &:after {
                transform: rotate(-45deg) translate(5px, -6px);
                }
            }
        } 
    }

    .navigation__top {
        // padding-bottom: 1rem;
        // border-bottom: 1px solid $primary;
    }

    .navigation__item {
        display: block;
        margin: 0.6rem 0;
    }
}