// -------------------------------
// 3. FLEX
// -------------------------------

@mixin FlexItem($type, $unit) {
    @for $i from 1 through $flexLevels {
        @if ($type == "basis") {
            .flex-#{$type}-#{$i} {
                flex-#{$type}: ($i*100)#{$unit};
            }
        } @else {
            .flex-#{$type}-#{$i} {
                flex-#{$type}: #{$i};
            }
        }
    }
}

@mixin Flex() {
    // 3.1 Display Flex
    .flex {
        display: flex;
    }

    // 3.2 Justify Content
    .justify-content-center {
        justify-content: center;
    }

    .justify-content-between {
        justify-content: space-between;
    }

    .justify-content-around {
        justify-content: space-around;
    }

    .justify-content-evenly {
        justify-content: space-evenly;
    }

    .justify-content-start {
        justify-content: flex-start;
    }

    .justify-content-end {
        justify-content: flex-end;
    }

    // 3.3 Align Content
    .align-content-center {
        align-content: center;
    }

    .align-content-start {
        align-content: flex-start;
    }

    .align-content-end {
        align-content: flex-end;
    }

    .align-content-stretch {
        align-content: stretch;
    }

    // 3.4 Align Items
    .align-items-center {
        align-items: center;
    }

    .align-items-start {
        align-items: flex-start;
    }

    .align-items-end {
        align-items: flex-end;
    }

    .align-items-stretch {
        align-items: stretch;
    }

    // 3.5 Flex Wrap
    .flex-wrap {
        flex-wrap: wrap;
    }

    .flex-wrap-reverse {
        flex-wrap: wrap-reverse;
    }

    .flex-nowrap {
        flex-wrap: nowrap;
    }

    // 3.6 Flex Direction 
    .flex-row {
        flex-direction: row;
    }

    .flex-row-reverse {
        flex-direction: row-reverse;
    }

    .flex-column {
        flex-direction: column;
    }

    .flex-column-reverse {
        flex-direction: column-reverse;
    }

    // 3.7 Flex Grow, Shrink and Basis
    @include FlexItem("grow", "");
    @include FlexItem("shrink", "");
    @include FlexItem("basis", "px");

    // 3.8 Align Self
    .align-self-center {
        align-self: center;
    }

    .align-self-start {
        align-self: flex-start;
    }

    .align-self-end {
        align-self: flex-end;
    }

    .align-self-stretch {
        align-self: stretch;
    }
}
